@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------Общие стили--------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #3c3e41;
  background-color: #fff;
}
@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 670px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 310px;
    padding: 0 5px;
  }
}

.title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.section {
  padding: 90px 0;
}
@media (max-width: 950px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 700px) {
  .section {
    padding: 40px 0;
  }
}
.section__text {
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 950px) {
  .section__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 700px) {
  .section__text {
    margin-bottom: 30px;
  }
}

.text {
  line-height: 25px;
}
@media (max-width: 700px) {
  .text {
    line-height: 20px;
  }
}

.bold-text {
  font-weight: 700;
}

.header {
  padding: 25px 0;
  background-color: #6f866d;
}
@media (max-width: 950px) {
  .header {
    padding: 8px 0;
  }
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .header__content.container {
    max-width: 95%;
  }
}
@media (max-width: 950px) {
  .header__info {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto;
    background-color: rgba(111, 134, 109, 0.95);
    transition: all 0.6s ease 0s;
    padding: 30px 0 50px;
    z-index: 1;
  }
}
@media (max-width: 550px) {
  .header__info {
    width: 100%;
  }
}
.header__info.active {
  right: 0;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
@media (max-width: 950px) {
  .header__top {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .header__nav-list {
    display: block;
    margin: 0 auto;
  }
  .header__nav-list li {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }
}
.header__nav-link {
  margin: 0 15px;
  padding: 3px 0;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.header__nav-link:last-child {
  margin-right: 0;
}
@media (max-width: 950px) {
  .header__nav-link {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
  }
}
.header__nav-link:hover {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transition: all 0.6s;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__social {
  width: 150px;
  margin-right: 50px;
}
@media (max-width: 950px) {
  .header__social {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.header__btn {
  padding: 5px;
  background-color: #fff;
  color: #6f866d;
  font-weight: 500;
  border: 1px solid transparent;
}
@media (max-width: 950px) {
  .header__btn {
    padding: 10px 5px;
    background-color: #6f866d;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
  }
}
.header__btn:hover {
  background-color: #6f866d;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.6s;
}
.header__btn:hover .header__btn-icon {
  color: #fff;
  transition: all 0.6s;
}
.header__btn-icon {
  margin-right: 5px;
  color: #6f866d;
}
@media (max-width: 950px) {
  .header__btn-icon {
    color: #fff;
  }
}
.header__logo {
  width: 100%;
}

.nav__icon {
  display: none;
}
@media (max-width: 950px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active span {
    transform: translateX(2px);
  }
  .nav__icon.active::before {
    transform: rotate(-47deg);
    width: 75%;
  }
  .nav__icon.active::after {
    transform: rotate(47deg);
    width: 75%;
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid #ffffff;
  border-radius: 30%;
}
.social__link:hover {
  background-color: #fff;
  transition: all 0.6s;
}
.social__link:hover .social__icon {
  color: #6f866d;
  transition: all 0.6s;
}
.social__icon {
  font-size: 16px;
  color: #ffffff;
}

.footer {
  padding: 20px 0;
  background: #6f866d;
  color: #fff;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .footer__content {
    justify-content: center;
    text-align: center;
  }
}
.footer__item {
  width: 45%;
}
@media (max-width: 950px) {
  .footer__item {
    width: 80%;
  }
}
.footer__link {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}
.footer__social {
  max-width: 200px;
  margin-top: 20px;
}
@media (max-width: 950px) {
  .footer__social {
    margin: 20px auto 0;
  }
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__text {
  margin-bottom: 10px;
}
@media (max-width: 950px) {
  .footer__map {
    display: none;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
  background-color: #fff;
}
.copyright__text {
  color: #6f866d;
  text-align: center;
}

/*----BANNER---*/
.banner {
  height: 83vh;
  padding-top: 30px;
  background: url(../img/banner1.png) center/cover no-repeat;
}
@media (min-width: 1580px) {
  .banner {
    padding-top: 75px;
    height: 86vh;
  }
}
@media (max-width: 950px) {
  .banner {
    padding-top: 60px;
    height: 86vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .banner {
    padding-top: 120px;
    height: 86vh;
  }
}
@media (max-width: 700px) {
  .banner {
    padding-top: 65px;
  }
}
.banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 190px;
  margin: 0 auto;
  background-color: #fff;
  border: 5px solid #6f866d;
  opacity: 0;
  transform: scale(0);
}
.banner__content.element-show {
  opacity: 1;
  transform: scale(1);
  transition: all 1.6s;
}
@media (max-width: 950px) {
  .banner__content {
    width: 340px;
    height: 150px;
  }
}
@media (max-width: 700px) {
  .banner__content {
    width: 300px;
    height: 130px;
  }
}
.banner__title {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 950px) {
  .banner__title {
    font-size: 32px;
  }
}
@media (max-width: 700px) {
  .banner__title {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

/*---ABOUT----*/
.about__info {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .about__info {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.about__info-item {
  width: 48%;
  display: flex;
  margin: -1px 20px 20px 0;
  border: 9px solid #6f866d;
  opacity: 0;
  transform: scale(0);
}
.about__info-item.element-show {
  opacity: 1;
  transform: scale(1);
  transition: all 1.2s;
}
@media (max-width: 1200px) {
  .about__info-item {
    width: 60%;
  }
}
@media (max-width: 950px) {
  .about__info-item {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .about__info-item {
    width: 95%;
    flex-direction: column;
  }
}
.about__info-description {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
@media (max-width: 700px) {
  .about__info-description {
    width: 95%;
  }
}
.about__info-title {
  margin-bottom: 10px;
  color: #6f866d;
  font-size: 15px;
  font-weight: 600;
}
.about__info-text {
  font-size: 14px;
  text-align: center;
}
.about__info-img {
  width: 50%;
  background-color: #6f866d;
}
@media (max-width: 700px) {
  .about__info-img {
    width: 100%;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  margin-bottom: -1px;
}

/*----TYPES----*/
.types {
  background: #6f866d;
  color: #fff;
}
.types__item-title {
  margin-bottom: 25px;
  font-size: 20px;
}
.types__item-text {
  margin-bottom: 10px;
}
.types__item-text:last-child {
  margin-bottom: 30px;
}
.types__item-img {
  width: 40%;
}
@media (max-width: 950px) {
  .types__item-img {
    width: 50%;
  }
}
@media (max-width: 950px) {
  .types__item-img {
    width: 70%;
  }
}

.tabs {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.tabs input {
  display: none;
}
.tabs input:checked + .tabs__title + .tabs__content {
  display: block;
}
.tabs input:checked + label {
  background-color: #6f866d80;
  color: #fff;
  border: 2px solid #fff;
}
.tabs__title {
  margin: 0 auto 60px;
  padding: 6px 12px;
  background-color: #fff;
  color: #6f866d;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  transform: translateY(40px);
  opacity: 0;
}
.tabs__title.element-show {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1.2s;
}
@media (max-width: 950px) {
  .tabs__title {
    margin: 0 auto 30px;
  }
}
@media (max-width: 950px) {
  .tabs__title {
    margin: 0 auto 15px;
  }
}
.tabs__content {
  display: none;
  text-align: center;
  order: 1;
  transform: translateY(40px);
  opacity: 0;
}
.tabs__content.element-show {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1.2s;
}

/*----SCHELDULE----*/
.scheldule {
  background: url(../img/13.png) bottom right no-repeat;
  background-size: 42%;
}
@media (min-width: 1600px) {
  .scheldule {
    background-size: 35%;
  }
}
.scheldule__content {
  width: 61%;
  padding: 20px 10px 0;
  border: 3px solid #6f866d;
  transform: scale(0);
  opacity: 0;
}
.scheldule__content.element-show {
  opacity: 1;
  transform: scale(1);
  transition: all 1.5s;
}
@media (max-width: 950px) {
  .scheldule__content {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .scheldule__content {
    width: 100%;
    padding: 15px 7px 0;
  }
}
.scheldule__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  background-color: #fff;
}
.scheldule__item:nth-child(odd) {
  background-color: rgba(111, 134, 109, 0.15);
}
@media (max-width: 700px) {
  .scheldule__item {
    font-size: 13px;
  }
}
.scheldule__time {
  width: 25%;
  font-weight: 500;
  text-align: left;
}
.scheldule__type {
  width: 25%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.scheldule__instructor {
  width: 25%;
  font-weight: 500;
  text-align: right;
}
@media (max-width: 700px) {
  .scheldule__instructor {
    width: 30%;
  }
}

.block__item {
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .block__item {
    margin-bottom: 12px;
  }
}
.block__item:last-child {
  margin-bottom: 0;
}
.block__title {
  padding: 5px 0;
  margin-bottom: 20px;
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #6f866d;
  cursor: pointer;
}
.block__title:last-child {
  margin-bottom: 0;
}
.block__title::before, .block__title::after {
  content: "";
  width: 11px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  right: 10px;
  transition: all 0.3s ease 0s;
}
.block__title::before {
  transform: rotate(-40deg);
  right: 10px;
}
.block__title::after {
  transform: rotate(40deg);
  right: 18px;
}
.block__title.active::before {
  transform: rotate(40deg);
}
.block__title.active::after {
  transform: rotate(-40deg);
}
@media (max-width: 950px) {
  .block__title {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .block__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.block__content {
  display: none;
}

/*---PRICE---*/
.price {
  background: url(../img/5.png) center no-repeat #6f866d;
  color: #fff;
}
.price__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #fff;
  transform: translateY(40px);
  opacity: 0;
}
.price__content.element-show {
  opacity: 1;
  transform: translateY(0%);
  transition: all 1.2s;
}
.price__info {
  margin-bottom: 20px;
}
.price__info:last-child {
  margin-bottom: 0;
}
.price__info-title {
  margin-bottom: 20px;
  padding: 8px 0;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  color: #6f866d;
}
@media (max-width: 950px) {
  .price__info-title {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .price__info-title {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
.price__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.price__description {
  font-weight: 500;
}
@media (max-width: 700px) {
  .price__description {
    width: 68%;
  }
}
.price__value {
  font-weight: 600;
}

/*----GALLERY----*/
.gallery {
  background: url(../img/18.jpg) center/cover no-repeat;
}
.gallery__content {
  display: flex;
  flex-wrap: wrap;
  transform: scale(0);
  opacity: 0;
}
.gallery__content.element-show {
  opacity: 1;
  transform: scale(1);
  transition: all 1.5s;
}
.gallery__img-container {
  width: 25%;
}
@media (max-width: 700px) {
  .gallery__img-container {
    width: 50%;
  }
}
.gallery__img {
  width: 100%;
}